In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Leitura do Dataset
df = pd.read_csv("https://raw.githubusercontent.com/italopspereira/PROJE_APLIC_I/main/1%20-%20Etapa/Base%20de%20Dados/amazon.csv")

# Visualização breve dos dados presentes
df.head()

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
0,B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories|Accessories&Peripherals|...,₹399,"₹1,099",64%,4.2,"24,269",High Compatibility : Compatible With iPhone 12...,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories|Accessories&Peripherals|...,₹199,₹349,43%,4.0,"43,994","Compatible with all Type C enabled devices, be...","AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
2,B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,Computers&Accessories|Accessories&Peripherals|...,₹199,"₹1,899",90%,3.9,"7,928",【 Fast Charger& Data Sync】-With built-in safet...,"AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...","Kunal,Himanshu,viswanath,sai niharka,saqib mal...","R3J3EQQ9TZI5ZJ,R3E7WBGK7ID0KV,RWU79XKQ6I1QF,R2...","Good speed for earlier versions,Good Product,W...","Not quite durable and sturdy,https://m.media-a...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Sounce-iPhone-Charging-C...
3,B08HDJ86NZ,boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...,Computers&Accessories|Accessories&Peripherals|...,₹329,₹699,53%,4.2,"94,363",The boAt Deuce USB 300 2 in 1 cable is compati...,"AEWAZDZZJLQUYVOVGBEUKSLXHQ5A,AG5HTSFRRE6NL3M5S...","Omkar dhale,JD,HEMALATHA,Ajwadh a.,amar singh ...","R3EEUZKKK9J36I,R3HJVYCLYOY554,REDECAZ7AMPQC,R1...","Good product,Good one,Nice,Really nice product...","Good product,long wire,Charges good,Nice,I bou...",https://m.media-amazon.com/images/I/41V5FtEWPk...,https://www.amazon.in/Deuce-300-Resistant-Tang...
4,B08CF3B7N1,Portronics Konnect L 1.2M Fast Charging 3A 8 P...,Computers&Accessories|Accessories&Peripherals|...,₹154,₹399,61%,4.2,"16,905",[CHARGE & SYNC FUNCTION]- This cable comes wit...,"AE3Q6KSUK5P75D5HFYHCRAOLODSA,AFUGIFH5ZAFXRDSZH...","rahuls6099,Swasat Borah,Ajay Wadke,Pranali,RVK...","R1BP4L2HH9TFUP,R16PVJEXKV6QZS,R2UPDB81N66T4P,R...","As good as original,Decent,Good one for second...","Bought this instead of original apple, does th...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Portronics-Konnect-POR-1...

# Número de exemplares (linhas) e dimensões (colunas)

In [ ]:
# Todas as colunas presentes no dataset
df.columns

Index(['product_id', 'product_name', 'category', 'discounted_price',
       'actual_price', 'discount_percentage', 'rating', 'rating_count',
       'about_product', 'user_id', 'user_name', 'review_id', 'review_title',
       'review_content', 'img_link', 'product_link'],
      dtype='object')

In [ ]:
# Total de linhas e colunas
df.shape

(1465, 16)

# Tipos de dados

In [ ]:
df.dtypes

product_id             object
product_name           object
category               object
discounted_price       object
actual_price           object
discount_percentage    object
rating                 object
rating_count           object
about_product          object
user_id                object
user_name              object
review_id              object
review_title           object
review_content         object
img_link               object
product_link           object
dtype: object

### Tratamento de dados

In [ ]:
# Removendo o caractere da moeda oficial do desconto dos produtos e transformando a coluna em tipo float
df['discounted_price'] = df['discounted_price'].str.replace("₹",'')
df['discounted_price'] = df['discounted_price'].str.replace(",",'')
df['discounted_price'] = df['discounted_price'].astype('float64')


# Removendo o caractere da moeda oficial do preço atual dos produtos e transformando a coluna em tipo float
df['actual_price'] = df['actual_price'].str.replace("₹",'')
df['actual_price'] = df['actual_price'].str.replace(",",'')
df['actual_price'] = df['actual_price'].astype('float64')

In [ ]:
# Removendo símbolo de porcetagem da porcentagem de desconto dos produtos e transformando a coluna em float
df['discount_percentage'] = df['discount_percentage'].str.replace('%','').astype('float64')

df['discount_percentage'] = df['discount_percentage'] / 100 # Calculo da divisão para que chegue a um valor decimal que possa ser usado em cálculos matemáticos.

# Listando o valor tratato
df['discount_percentage']

0       0.64
1       0.43
2       0.90
3       0.53
4       0.61
        ...
1460    0.59
1461    0.25
1462    0.28
1463    0.26
1464    0.22
Name: discount_percentage, Length: 1465, dtype: float64

In [ ]:
# Listando a quantidade de produtos com a mesma média de rating
df['rating'].value_counts()

4.1    244
4.3    230
4.2    228
4.0    129
3.9    123
4.4    123
3.8     86
4.5     75
4       52
3.7     42
3.6     35
3.5     26
4.6     17
3.3     16
3.4     10
4.7      6
3.1      4
5.0      3
3.0      3
4.8      3
3.2      2
2.8      2
2.3      1
|        1
2        1
3        1
2.6      1
2.9      1
Name: rating, dtype: int64

In [ ]:
# Verificando um único valor no qual não se encaixa a classe numérica e que foi constato durante a listagem da quantidade de produtos com a mesma média de rating
df.query('rating == "|"')

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
1279,B08L12N5H1,Eureka Forbes car Vac 100 Watts Powerful Sucti...,"Home&Kitchen|Kitchen&HomeAppliances|Vacuum,Cle...",2099.0,2499.0,0.16,|,992,No Installation is provided for this product|1...,"AGTDSNT2FKVYEPDPXAA673AIS44A,AER2XFSWNN4LAUCJ5...","Divya,Dr Nefario,Deekshith,Preeti,Prasanth R,P...","R2KKTKM4M9RDVJ,R1O692MZOBTE79,R2WRSEWL56SOS4,R...","Decent product,doesn't pick up sand,Ok ok,Must...","Does the job well,doesn't work on sand. though...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Eureka-Forbes-Vacuum-Cle...

In [ ]:
# Substituindo esse único valor não numérico da tabela de rating e transformando o tipo da columa em float
df['rating'] = df['rating'].str.replace('|', '4.0').astype('float64')

<ipython-input-9-3a9508014afe>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['rating'] = df['rating'].str.replace('|', '4.0').astype('float64')

In [ ]:
# Removendo as vírgulas presentes da contagem de rating e transformando o tipo da coluna em float
df['rating_count'] = df['rating_count'].str.replace(',', '').astype('float64')

In [ ]:
# Armazenando os valores duplicados em uma variável
duplicados = df.duplicated()
df[duplicados]

Empty DataFrame
Columns: [product_id, product_name, category, discounted_price, actual_price, discount_percentage, rating, rating_count, about_product, user_id, user_name, review_id, review_title, review_content, img_link, product_link]
Index: []

In [ ]:
# Buscando por valores vazios
df.isna().sum()

product_id             0
product_name           0
category               0
discounted_price       0
actual_price           0
discount_percentage    0
rating                 0
rating_count           2
about_product          0
user_id                0
user_name              0
review_id              0
review_title           0
review_content         0
img_link               0
product_link           0
dtype: int64

In [ ]:
# Criando uma cópia do dataset com algumas correções
df1 = df[['product_id', 'product_name', 'category', 'discounted_price', 'actual_price', 'discount_percentage', 'rating', 'rating_count']].copy()

In [ ]:
# Dividindo as categorias dos produtos
catsplit = df['category'].str.split('|', expand=True)
catsplit

,0,1,2,3,4,5,6
0,Computers&Accessories,Accessories&Peripherals,Cables&Accessories,Cables,USBCables,None,None
1,Computers&Accessories,Accessories&Peripherals,Cables&Accessories,Cables,USBCables,None,None
2,Computers&Accessories,Accessories&Peripherals,Cables&Accessories,Cables,USBCables,None,None
3,Computers&Accessories,Accessories&Peripherals,Cables&Accessories,Cables,USBCables,None,None
4,Computers&Accessories,Accessories&Peripherals,Cables&Accessories,Cables,USBCables,None,None
...,...,...,...,...,...,...,...
1460,Home&Kitchen,Kitchen&HomeAppliances,WaterPurifiers&Accessories,WaterPurifierAccessories,None,None,None
1461,Home&Kitchen,Kitchen&HomeAppliances,SmallKitchenAppliances,Rice&PastaCookers,None,None,None
1462,Home&Kitchen,"Heating,Cooling&AirQuality",RoomHeaters,HeatConvectors,None,None,None
1463,Home&Kitchen,"Heating,Cooling&AirQuality",Fans,ExhaustFans,None,None,None
1464,Home&Kitchen,Kitchen&HomeAppliances,SmallKitchenAppliances,SandwichMakers,None,None,None

In [ ]:
# Renomeando e ordenando cada categoria
catsplit = catsplit.rename(columns={0:'category_1', 1:'category_2', 2:'category_3'})

In [ ]:
# Adicionando as categorias separadas na cópia do dataset
df1['category_1'] = catsplit['category_1']
df1['category_2'] = catsplit['category_2']

df1.drop(columns='category', inplace=True)

df1

,product_id,product_name,discounted_price,actual_price,discount_percentage,rating,rating_count,category_1,category_2
0,B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,399.0,1099.0,0.64,4.2,24269.0,Computers&Accessories,Accessories&Peripherals
1,B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,199.0,349.0,0.43,4.0,43994.0,Computers&Accessories,Accessories&Peripherals
2,B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,199.0,1899.0,0.90,3.9,7928.0,Computers&Accessories,Accessories&Peripherals
3,B08HDJ86NZ,boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...,329.0,699.0,0.53,4.2,94363.0,Computers&Accessories,Accessories&Peripherals
4,B08CF3B7N1,Portronics Konnect L 1.2M Fast Charging 3A 8 P...,154.0,399.0,0.61,4.2,16905.0,Computers&Accessories,Accessories&Peripherals
...,...,...,...,...,...,...,...,...,...
1460,B08L7J3T31,Noir Aqua - 5pcs PP Spun Filter + 1 Spanner | ...,379.0,919.0,0.59,4.0,1090.0,Home&Kitchen,Kitchen&HomeAppliances
1461,B01M6453MB,Prestige Delight PRWO Electric Rice Cooker (1 ...,2280.0,3045.0,0.25,4.1,4118.0,Home&Kitchen,Kitchen&HomeAppliances
1462,B009P2LIL4,Bajaj Majesty RX10 2000 Watts Heat Convector R...,2219.0,3080.0,0.28,3.6,468.0,Home&Kitchen,"Heating,Cooling&AirQuality"
1463,B00J5DYCCA,Havells Ventil Air DSP 230mm Exhaust Fan (Pist...,1399.0,1890.0,0.26,4.0,8031.0,Home&Kitchen,"Heating,Cooling&AirQuality"
1464,B01486F4G6,Borosil Jumbo 1000-Watt Grill Sandwich Maker (...,2863.0,3690.0,0.22,4.3,6987.0,Home&Kitchen,Kitchen&HomeAppliances

In [ ]:
# # Checando a quantidade de categorias presentes na coluna categoria 2
df1['category_2'].value_counts()

Accessories&Peripherals                    381
Kitchen&HomeAppliances                     308
HomeTheater,TV&Video                       162
Mobiles&Accessories                        161
Heating,Cooling&AirQuality                 116
WearableTechnology                          76
Headphones,Earbuds&Accessories              66
NetworkingDevices                           34
OfficePaperProducts                         27
ExternalDevices&DataStorage                 18
Cameras&Photography                         16
HomeStorage&Organization                    16
HomeAudio                                   16
GeneralPurposeBatteries&BatteryChargers     14
Accessories                                 14
Printers,Inks&Accessories                   11
CraftMaterials                               7
Components                                   5
OfficeElectronics                            4
Electrical                                   2
Monitors                                     2
Microphones                                  2
Arts&Crafts                                  1
PowerAccessories                             1
Tablets                                      1
Laptops                                      1
Kitchen&Dining                               1
CarAccessories                               1
HomeMedicalSupplies&Equipment                1
Name: category_2, dtype: int64

In [ ]:
# Tratanto os textos presentes nas categorias com a remoção dos espaços
df1['category_1'] = df1['category_1'].str.replace('&', ' & ')
df1['category_1'] = df1['category_1'].str.replace('OfficeProducts', 'Office Products')
df1['category_1'] = df1['category_1'].str.replace('MusicalInstruments', 'Musical Instruments')
df1['category_1'] = df1['category_1'].str.replace('HomeImprovement', 'Home Improvement')
df1['category_2'] = df1['category_2'].str.replace('&', ' & ')
df1['category_2'] = df1['category_2'].str.replace(',', ', ')
df1['category_2'] = df1['category_2'].str.replace('HomeAppliances', 'Home Appliances')
df1['category_2'] = df1['category_2'].str.replace('AirQuality', 'Air Quality')
df1['category_2'] = df1['category_2'].str.replace('WearableTechnology', 'Wearable Technology')
df1['category_2'] = df1['category_2'].str.replace('NetworkingDevices', 'Networking Devices')
df1['category_2'] = df1['category_2'].str.replace('OfficePaperProducts', 'Office Paper Products')
df1['category_2'] = df1['category_2'].str.replace('ExternalDevices', 'External Devices')
df1['category_2'] = df1['category_2'].str.replace('DataStorage', 'Data Storage')
df1['category_2'] = df1['category_2'].str.replace('HomeStorage', 'Home Storage')
df1['category_2'] = df1['category_2'].str.replace('HomeAudio', 'Home Audio')
df1['category_2'] = df1['category_2'].str.replace('GeneralPurposeBatteries', 'General Purpose Batteries')
df1['category_2'] = df1['category_2'].str.replace('BatteryChargers', 'Battery Chargers')
df1['category_2'] = df1['category_2'].str.replace('CraftMaterials', 'Craft Materials')
df1['category_2'] = df1['category_2'].str.replace('OfficeElectronics', 'Office Electronics')
df1['category_2'] = df1['category_2'].str.replace('PowerAccessories', 'Power Accessories')
df1['category_2'] = df1['category_2'].str.replace('CarAccessories', 'Car Accessories')
df1['category_2'] = df1['category_2'].str.replace('HomeMedicalSupplies', 'Home Medical Supplies')
df1['category_2'] = df1['category_2'].str.replace('HomeTheater', 'Home Theater')

In [ ]:
# Checando a quantidade de categorias presentes na coluna categoria 1
df1['category_1'].value_counts()

Electronics                526
Computers & Accessories    453
Home & Kitchen             448
Office Products             31
Musical Instruments          2
Home Improvement             2
Toys & Games                 1
Car & Motorbike              1
Health & PersonalCare        1
Name: category_1, dtype: int64

In [ ]:
# Removendo espaços em branco da coluna de id dos produtos
df1['product_id'].str.strip()

0       B07JW9H4J1
1       B098NS6PVG
2       B096MSW6CT
3       B08HDJ86NZ
4       B08CF3B7N1
           ...
1460    B08L7J3T31
1461    B01M6453MB
1462    B009P2LIL4
1463    B00J5DYCCA
1464    B01486F4G6
Name: product_id, Length: 1465, dtype: object

In [ ]:
# Ranqueando as categorias
rating_score = []

for score in df1['rating']:
    if score < 2.0 : rating_score.append('Poor')
    elif score < 3.0 : rating_score.append('Below Average')
    elif score < 4.0 : rating_score.append('Average')
    elif score < 5.0 : rating_score.append('Above Average')
    elif score == 5.0 : rating_score.append('Excellent')

In [ ]:
# Criando uma nova coluna para armazenar o rating score e copiando o da coluna antiga 
df1['rating_score'] = rating_score
df1['rating_score'] = df1['rating_score'].astype('category')

# Ordenando a nova coluna de acorco com as categorias
df1['rating_score'] = df1['rating_score'].cat.reorder_categories(['Below Average', 'Average', 'Above Average', 'Excellent'], ordered=True)

In [ ]:
# Criando diferença de coluna de preço entre preço real e preço com desconto
df1['difference_price'] = df1['actual_price'] - df1['discounted_price']

In [ ]:
# A PARTIR DAQUI JÁ PODE SER FEITA A ANÁLISE EXPLORATÓRIA, POIS OS DADOS JA ESTÃO TRATADOS
# Verificando o resultado da limpeza
df1.head()

,product_id,product_name,discounted_price,actual_price,discount_percentage,rating,rating_count,category_1,category_2,rating_score,difference_price
0,B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,399.0,1099.0,0.64,4.2,24269.0,Computers & Accessories,Accessories & Peripherals,Above Average,700.0
1,B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,199.0,349.0,0.43,4.0,43994.0,Computers & Accessories,Accessories & Peripherals,Above Average,150.0
2,B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,199.0,1899.0,0.90,3.9,7928.0,Computers & Accessories,Accessories & Peripherals,Average,1700.0
3,B08HDJ86NZ,boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...,329.0,699.0,0.53,4.2,94363.0,Computers & Accessories,Accessories & Peripherals,Above Average,370.0
4,B08CF3B7N1,Portronics Konnect L 1.2M Fast Charging 3A 8 P...,154.0,399.0,0.61,4.2,16905.0,Computers & Accessories,Accessories & Peripherals,Above Average,245.0

# Medidas de posição e dispersão

In [ ]:
# Média
df.mean()

<ipython-input-29-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

discounted_price        3125.310874
actual_price            5444.990635
discount_percentage        0.476915
rating                     4.096519
rating_count           18295.541353
dtype: float64

In [ ]:
# Mediana
df.median()

<ipython-input-30-c6e0c62a3834>:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

discounted_price        799.0
actual_price           1650.0
discount_percentage       0.5
rating                    4.1
rating_count           5179.0
dtype: float64

In [ ]:
# Quartis (primeiro quartil)
df.quantile(q=0.25)

<ipython-input-31-3f00c7a07290>:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.quantile(q=0.25)

discounted_price        325.00
actual_price            800.00
discount_percentage       0.32
rating                    4.00
rating_count           1186.00
Name: 0.25, dtype: float64

In [ ]:
# Quartis (terceiro quartil)
df.quantile(q=0.75)

<ipython-input-33-048d2407fab8>:2: FutureWarning: The default value of numeric_only in DataFrame.quantile is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.quantile(q=0.75)

discounted_price        1999.00
actual_price            4295.00
discount_percentage        0.63
rating                     4.30
rating_count           17336.50
Name: 0.75, dtype: float64

In [ ]:
# Moda
print(df['discounted_price'].mode())
print(df['actual_price'].mode())
print(df['discount_percentage'].mode())
print(df['rating'].mode())
print(df['rating_count'].mode())

0    199.0
Name: discounted_price, dtype: float64
0    999.0
Name: actual_price, dtype: float64
0    0.5
1    0.6
Name: discount_percentage, dtype: float64
0    4.1
Name: rating, dtype: float64
0    9378.0
Name: rating_count, dtype: float64

In [ ]:
# Amplitude
print('discounted_price :',df['discounted_price'].max() - df['discounted_price'].min())
print('actual_price :',df['actual_price'].max() - df['actual_price'].min())
print('discount_percentage :',df['discount_percentage'].max() - df['discount_percentage'].min())
print('rating :',df['rating'].max() - df['rating'].min())
print('rating_count :',df['rating_count'].max() - df['rating_count'].min())

discounted_price : 77951.0
actual_price : 139861.0
discount_percentage : 0.94
rating : 3.0
rating_count : 426971.0

In [ ]:
# Variância
print('discounted_price:', round(df['discounted_price'].var(), 3))
print('actual_price :', round(df['actual_price'].var(), 3))
print('discount_percentage :', round(df['discount_percentage'].var(), 3))
print('rating :', round(df['rating'].var(), 3))
print('rating_count :', round(df['rating_count'].var(), 3))

discounted_price: 48223363.522
actual_price : 118261859.323
discount_percentage : 0.047
rating : 0.085
rating_count : 1827892968.355

In [ ]:
# Desvio Padrão
print('discounted_price:', round(df['discounted_price'].std(), 3))
print('actual_price :', round(df['actual_price'].std(), 3))
print('discount_percentage :', round(df['discount_percentage'].std(), 3))
print('rating :', round(df['rating'].std(), 3))
print('rating_count :', round(df['rating_count'].std(), 3))

discounted_price: 6944.304
actual_price : 10874.827
discount_percentage : 0.216
rating : 0.292
rating_count : 42753.865

In [ ]:
# Covariância
print(df.cov())

                     discounted_price  actual_price  discount_percentage  \
discounted_price         4.822336e+07  7.264202e+07          -364.215122
actual_price             7.264202e+07  1.182619e+08          -277.867820
discount_percentage     -3.642151e+02 -2.778678e+02             0.046811
rating                   2.437229e+02  3.858887e+02            -0.009774
rating_count            -8.098244e+06 -1.681132e+07           108.076044

                          rating  rating_count
discounted_price      243.722892 -8.098244e+06
actual_price          385.888738 -1.681132e+07
discount_percentage    -0.009774  1.080760e+02
rating                  0.085022  1.266013e+03
rating_count         1266.013169  1.827893e+09

<ipython-input-54-0a12e4c3650a>:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.cov())

# Distribuição e frequência do campo 'actual_price'

In [ ]:
frequencia = df['actual_price'].value_counts()
porcentagem = df['actual_price'].value_counts(normalize = True) * 100

In [ ]:
dist_freq = pd.DataFrame({'Frequência':frequencia, 'Porcentagem %':porcentagem})

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
  print(dist_freq)

           Frequência  Porcentagem %
999.00            120          8.191
499.00             71          4.846
1999.00            56          3.823
1499.00            37          2.526
399.00             34          2.321
599.00             33          2.253
699.00             29          1.980
799.00             24          1.638
2999.00            22          1.502
1299.00            21          1.433
899.00             20          1.365
9999.00            19          1.297
2499.00            19          1.297
1099.00            19          1.297
4999.00            17          1.160
5999.00            17          1.160
3999.00            17          1.160
299.00             17          1.160
1599.00            17          1.160
1899.00            12          0.819
2199.00            11          0.751
7990.00            11          0.751
1699.00            11          0.751
1199.00            10          0.683
1000.00            10          0.683
7999.00            10          0.683
1500.00             8          0.546
3500.00             8          0.546
349.00              8          0.546
11999.00            8          0.546
800.00              8          0.546
700.00              8          0.546
24999.00            8          0.546
19999.00            8          0.546
3990.00             8          0.546
1799.00             7          0.478
1900.00             7          0.478
199.00              7          0.478
3499.00             7          0.478
1490.00             7          0.478
15999.00            6          0.410
18999.00            6          0.410
6990.00             6          0.410
20999.00            6          0.410
2400.00             6          0.410
2990.00             6          0.410
2299.00             5          0.341
2000.00             5          0.341
600.00              5          0.341
1295.00             5          0.341
19499.00            5          0.341
8999.00             5          0.341
1800.00             5          0.341
6999.00             5          0.341
1950.00             5          0.341
2100.00             5          0.341
249.00              5          0.341
400.00              4          0.273
549.00              4          0.273
2490.00             4          0.273
995.00              4          0.273
100.00              4          0.273
2495.00             4          0.273
1600.00             4          0.273
1399.00             4          0.273
12999.00            4          0.273
14999.00            4          0.273
29999.00            4          0.273
17999.00            4          0.273
1995.00             4          0.273
3945.00             4          0.273
8995.00             3          0.205
19990.00            3          0.205
3295.00             3          0.205
2899.00             3          0.205
1100.00             3          0.205
339.00              3          0.205
21990.00            3          0.205
1190.00             3          0.205
1795.00             3          0.205
650.00              3          0.205
28999.00            3          0.205
20990.00            3          0.205
160.00              3          0.205
250.00              3          0.205
180.00              3          0.205
315.00              3          0.205
1400.00             3          0.205
5499.00             3          0.205
1290.00             3          0.205
99.00               3          0.205
1300.00             3          0.205
595.00              3          0.205
5000.00             3          0.205
300.00              3          0.205
15990.00            3          0.205
1695.00             3          0.205
1200.00             3          0.205
13499.00            3          0.205
4000.00             3          0.205
1990.00             3          0.205
450.00              3          0.205
120.00              3          0.205
2799.00             3          0.205
3045.00             2          0.137
2695.00             2          0.137
1020.00             2          0.137
3595.00             2          0.137
1690.00             2          0.137
640.00              2          0.137
3300.00             2          0.137
5295.00             2          0.137
3995.00             2          0.137
4495.00             2          0.137
2599.00             2          0.137
1345.00             2          0.137
11500.00            2          0.137
165.00              2          0.137
1245.00             2          0.137
2995.00             2          0.137
1249.00             2          0.137
3799.00             2          0.137
4200.00             2          0.137
1545.00             2          0.137
149.00              2          0.137
9995.00             2          0.137
2500.00             2          0.137
1090.00             2          0.137
39.00               2          0.137
825.00              2          0.137
1390.00             2          0.137
4990.00             2          0.137
2890.00             2          0.137
720.00              2          0.137
4700.00             2          0.137
5795.00             2          0.137
990.00              2          0.137
1650.00             2          0.137
200.00              2          0.137
4295.00             2          0.137
2900.00             2          0.137
3190.00             2          0.137
59900.00            2          0.137
3299.00             2          0.137
230.00              2          0.137
2095.00             2          0.137
2800.00             2          0.137
3490.00             2          0.137
550.00              2          0.137
4499.00             2          0.137
225.00              2          0.137
6000.00             2          0.137
6295.00             2          0.137
2295.00             2          0.137
1630.00             2          0.137
849.00              2          0.137
670.00              2          0.137
3100.00             2          0.137
4699.00             2          0.137
795.00              2          0.137
49999.00            2          0.137
750.00              2          0.137
666.66              2          0.137
18990.00            2          0.137
695.00              2          0.137
34999.00            2          0.137
1208.00             2          0.137
25999.00            2          0.137
395.00              2          0.137
2399.00             2          0.137
500.00              2          0.137
49990.00            2          0.137
34990.00            2          0.137
27990.00            2          0.137
845.00              2          0.137
65000.00            2          0.137
42999.00            2          0.137
29990.00            2          0.137
449.00              2          0.137
40990.00            2          0.137
10999.00            2          0.137
22900.00            2          0.137
69999.00            2          0.137
16999.00            2          0.137
495.00              2          0.137
8499.00             2          0.137
649.00              2          0.137
4775.00             1          0.068
1230.00             1          0.068
1440.00             1          0.068
19825.00            1          0.068
1920.00             1          0.068
3290.00             1          0.068
16000.00            1          0.068
2349.00             1          0.068
5995.00             1          0.068
7795.00             1          0.068
11995.00            1          0.068
5156.00             1          0.068
10995.00            1          0.068
1790.00             1          0.068
6500.00             1          0.068
239.00              1          0.068
4290.00             1          0.068
475.00              1          0.068
3790.00             1          0.068
4560.00             1          0.068
2600.00             1          0.068
4780.00             1          0.068
23559.00            1          0.068
11495.00            1          0.068
2545.00             1          0.068
5500.00             1          0.068
12150.00            1          0.068
3098.00             1          0.068
4799.00             1          0.068
7506.00             1          0.068
1560.00             1          0.068
8990.00             1          0.068
1639.00             1          0.068
11595.00            1          0.068
1750.00             1          0.068
39999.00            1          0.068
2300.00             1          0.068
19125.00            1          0.068
749.00              1          0.068
1775.00             1          0.068
1890.00             1          0.068
1130.00             1          0.068
9455.00             1          0.068
30990.00            1          0.068
3080.00             1          0.068
14990.00            1          0.068
5550.00             1          0.068
4590.00             1          0.068
4400.00             1          0.068
5190.00             1          0.068
940.00              1          0.068
79.00               1          0.068
14290.00            1          0.068
919.00              1          0.068
47900.00            1          0.068
2660.00             1          0.068
21999.00            1          0.068
6375.00             1          0.068
350.00              1          0.068
8500.00             1          0.068
4995.00             1          0.068
1850.00             1          0.068
18000.00            1          0.068
16899.00            1          0.068
6700.00             1          0.068
970.00              1          0.068
23999.00            1          0.068
850.00              1          0.068
7445.00             1          0.068
1395.00             1          0.068
4330.00             1          0.068
12500.00            1          0.068
13049.00            1          0.068
2385.00             1          0.068
389.00              1          0.068
4890.00             1          0.068
3899.00             1          0.068
75990.00            1          0.068
24500.00            1          0.068
747.00              1          0.068
11990.00            1          0.068
4849.00             1          0.068
510.00              1          0.068
2550.00             1          0.068
8478.00             1          0.068
3895.00             1          0.068
5495.00             1          0.068
3199.00             1          0.068
7776.00             1          0.068
7200.00             1          0.068
2590.00             1          0.068
6299.00             1          0.068
6070.00             1          0.068
4650.00             1          0.068
5799.00             1          0.068
4600.00             1          0.068
2360.00             1          0.068
8073.00             1          0.068
2290.00             1          0.068
3099.00             1          0.068
1075.00             1          0.068
7290.00             1          0.068
3398.00             1          0.068
1620.00             1          0.068
45999.00            1          0.068
980.00              1          0.068
260.00              1          0.068
625.00              1          0.068
1975.00             1          0.068
10295.00            1          0.068
4005.00             1          0.068
2380.00             1          0.068
8820.00             1          0.068
1282.00             1          0.068
11850.00            1          0.068
20049.00            1          0.068
24850.00            1          0.068
16490.00            1          0.068
975.00              1          0.068
635.00              1          0.068
3890.00             1          0.068
3390.00             1          0.068
1010.00             1          0.068
10900.00            1          0.068
3550.00             1          0.068
1989.00             1          0.068
7299.00             1          0.068
139900.00           1          0.068
56790.00            1          0.068
2595.00             1          0.068
7350.00             1          0.068
590.00              1          0.068
798.00              1          0.068
3495.00             1          0.068
85000.00            1          0.068
52900.00            1          0.068
4100.00             1          0.068
2198.00             1          0.068
758.00              1          0.068
220.00              1          0.068
24990.00            1          0.068
69900.00            1          0.068
75.00               1          0.068
2699.00             1          0.068
5734.00             1          0.068
1749.00             1          0.068
2911.00             1          0.068
175.00              1          0.068
3250.00             1          0.068
59999.00            1          0.068
16990.00            1          0.068
1109.00             1          0.068
1929.00             1          0.068
9990.00             1          0.068
31990.00            1          0.068
35999.00            1          0.068
210.00              1          0.068
70900.00            1          0.068
11000.00            1          0.068
440.00              1          0.068
375.00              1          0.068
59.00               1          0.068
50000.00            1          0.068
6499.00             1          0.068
171.00              1          0.068
26999.00            1          0.068
5299.00             1          0.068
32999.00            1          0.068
39990.00            1          0.068
38999.00            1          0.068
33999.00            1          0.068
9499.00             1          0.068
74999.00            1          0.068
4490.00             1          0.068
895.00              1          0.068
237.00              1          0.068
50.00               1          0.068
2498.00             1          0.068
13750.00            1          0.068
1350.00             1          0.068
51990.00            1          0.068
761.00              1          0.068
1052.00             1          0.068
900.00              1          0.068
28900.00            1          0.068
4500.00             1          0.068
50999.00            1          0.068
54990.00            1          0.068
404.00              1          0.068
35000.00            1          0.068
3000.00             1          0.068
861.00              1          0.068
79990.00            1          0.068
4332.96             1          0.068
5490.00             1          0.068
2790.00             1          0.068
23990.00            1          0.068
3193.00             1          0.068
6190.00             1          0.068
13999.00            1          0.068
1700.00             1          0.068
5890.00             1          0.068
13150.00            1          0.068
785.00              1          0.068
3210.00             1          0.068
1595.00             1          0.068
3645.00             1          0.068
7950.00             1          0.068
1745.00             1          0.068
44999.00            1          0.068
44990.00            1          0.068
2099.00             1          0.068
1549.00             1          0.068
20000.00            1          0.068
1129.00             1          0.068
1809.00             1          0.068
875.00              1          0.068
15270.00            1          0.068
4195.00             1          0.068
1111.00             1          0.068
10400.00            1          0.068
31999.00            1          0.068
9650.00             1          0.068
10590.00            1          0.068
89.00               1          0.068
2485.00             1          0.068
3279.00             1          0.068
1445.00             1          0.068
59890.00            1          0.068
1645.00             1          0.068
20900.00            1          0.068
310.00              1          0.068
4199.00             1          0.068
485.00              1          0.068
47990.00            1          0.068
22990.00            1          0.068
2796.00             1          0.068
723.00              1          0.068
12499.00            1          0.068
320.00              1          0.068
3875.00             1          0.068
19110.00            1          0.068
150.00              1          0.068
775.00              1          0.068
32000.00            1          0.068
535.00              1          0.068
6100.00             1          0.068
7005.00             1          0.068
2895.00             1          0.068
3195.00             1          0.068
6355.00             1          0.068
7500.00             1          0.068
1339.00             1          0.068
37999.00            1          0.068
1949.00             1          0.068
1547.00             1          0.068
1150.00             1          0.068
931.00              1          0.068
3599.00             1          0.068
420.00              1          0.068
9625.00             1          0.068
3690.00             1          0.068

# Correlações

In [ ]:
df.corr()

<ipython-input-27-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,discounted_price,actual_price,discount_percentage,rating,rating_count
discounted_price,1.000000,0.961915,-0.242412,0.120365,-0.027261
actual_price,0.961915,1.000000,-0.118098,0.121695,-0.036137
discount_percentage,-0.242412,-0.118098,1.000000,-0.154924,0.011691
rating,0.120365,0.121695,-0.154924,1.000000,0.102318
rating_count,-0.027261,-0.036137,0.011691,0.102318,1.000000

#Valores perdidos ou incorretos

Os valores descartados foram 1 - |, 2 - Linhas vazias(literalmente vazias), e todas os caracteres da moeda indiana que estava presente em toda a coluna de preço atual

#Anomalias e outliers

Utlizado o Método IQR (Interquartile Range):
O método IQR é uma técnica simples e amplamente utilizada para identificar outliers em um conjunto de dados. O primeiro passo é calcular o intervalo interquartil (IQR), que é a diferença entre o terceiro quartil (Q3) e o primeiro quartil (Q1). Em seguida, os outliers são definidos como quaisquer pontos abaixo de Q1 - 1,5 * IQR ou acima de Q3 + 1,5 * IQR.

In [ ]:
# Calcula Q1, Q3 e IQR
Q1 = df['actual_price'].quantile(0.25)
Q3 = df['actual_price'].quantile(0.75)
IQR = Q3 - Q1

outliers = pd.DataFrame(df[(df['actual_price'] < Q1 - 1.5*IQR) | (df['actual_price'] > Q3 + 1.5*IQR)])

with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
  print(outliers['actual_price'])

16       24999.0
19       21990.0
22       22900.0
24       19990.0
26       19999.0
38       45999.0
41       34999.0
53       12999.0
57       21999.0
61       47900.0
64       24999.0
67       14990.0
72       42999.0
77       30990.0
82       19125.0
85       39999.0
86       40990.0
87       52900.0
91       31999.0
94       40990.0
103      29999.0
108      65000.0
110      20000.0
112      23990.0
122      15999.0
123      44990.0
124      44999.0
127      27990.0
130      34990.0
135      49990.0
144      12999.0
150      65000.0
152      20900.0
157      15990.0
168      22990.0
171      47990.0
188      18990.0
190      11000.0
192      70900.0
197      35999.0
206      31990.0
210       9990.0
215      16990.0
216      59999.0
231      49999.0
232      56790.0
249     139900.0
255      85000.0
265      24990.0
270      49990.0
273      18999.0
276      69900.0
278      29999.0
280      34990.0
283      79990.0
286      35000.0
288      15999.0
292      54990.0
295      50999.0
299      28900.0
306      42999.0
308      19990.0
310      25999.0
321      14999.0
323      51990.0
325      69999.0
326      50000.0
327      19499.0
332      69999.0
334      19999.0
335       9999.0
339      28999.0
340      28999.0
348      11999.0
350      11999.0
354      11999.0
361      25999.0
363      17999.0
364      19999.0
365       9999.0
366      24999.0
367      20999.0
368      19999.0
370      10999.0
372      19999.0
373      11999.0
375      16999.0
378      18999.0
380      19999.0
381      11999.0
383      15999.0
385       9999.0
386      20990.0
387      24999.0
394      34999.0
399      19499.0
401      19999.0
402       9999.0
405      15990.0
406      33999.0
409      14999.0
410      38999.0
411      24999.0
419      14999.0
425      19499.0
427      17999.0
429      26999.0
434      20999.0
435      18999.0
436      28999.0
442      19999.0
445      17999.0
446      20990.0
450      29990.0
452      15990.0
453      21990.0
465      20990.0
469      13499.0
474       9999.0
477      13499.0
481      19499.0
484       9999.0
489      20999.0
490      15999.0
497      29990.0
498      13499.0
499      20999.0
500      27990.0
501      18999.0
508       9999.0
509      18999.0
511      20999.0
517       9999.0
522      15999.0
530      12999.0
532      20999.0
533      49999.0
543      32999.0
544      39990.0
546      11999.0
554      18999.0
558       9999.0
568      74999.0
572      11999.0
574      17999.0
579      11999.0
581      19499.0
586       9999.0
611       9999.0
619      16999.0
704       9999.0
705      29999.0
709      13750.0
714      21990.0
723      22900.0
749       9999.0
773       9999.0
865       9999.0
911      12499.0
922      19110.0
935      32000.0
953      24999.0
976      37999.0
1008      9625.0
1014     59890.0
1040     13999.0
1044     13150.0
1078     15270.0
1084     10400.0
1091      9650.0
1092     10590.0
1109     11595.0
1123     15999.0
1141      9995.0
1159      9999.0
1166     14290.0
1172      9999.0
1173     12999.0
1182     59900.0
1208     19825.0
1210     16000.0
1212     14999.0
1217     11995.0
1234     23559.0
1236      9995.0
1241     12150.0
1245     18000.0
1249      9999.0
1272     11500.0
1278     11500.0
1285     10295.0
1289     24999.0
1296      9999.0
1297     11850.0
1299     20049.0
1300     24850.0
1301     16490.0
1306     59900.0
1317     19990.0
1321     10900.0
1325     24500.0
1336     23999.0
1347     18990.0
1348     12500.0
1353     16899.0
1354     75990.0
1360     11990.0
1412     13049.0
1416     24999.0
1430     29999.0
1432     11495.0
1437     10999.0
1438     10995.0
Name: actual_price, dtype: float64